<div class = "d-flex justify-content-center" mb-5>
    <button type="submit"  class="btn btn-primary" mat-raised-button (click)="addSubjectDialog()" >Add Subject {{subjects.length}}</button>
    </div >
    <div *ngIf="subjects.length === 0" class="text-center" >


        <p >No record!</p>
    </div>
    <div *ngIf="subjects.length > 0" class="d-flex justify-content-center  m-5 ">
    
        
        <table class="table table-hover table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Course</td>
                    <td>Semester</td>
                    <td>Subject</td>
                    <td>Marks</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects">
                    <td>{{subject.id}}</td>
                    <td>{{subject.course}}</td>
                    <td>{{subject.semester}}</td>
                    <td>{{subject.name}}</td>
                    <td>{{subject.marks}}</td>
                    <td><button  class="btn btn-primary" (click)="editSubject(subject!)" >Edit</button>
                        <button  color="warn" class="btn btn-danger" (click)="deleteSubject(subject.id!)"> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    